@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotateAroundMacaron {
    0% {
      transform: rotate(0deg) translateX(150px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateX(150px) rotate(-360deg);
    }
  }
  
  .cursor-rotate {
    animation: rotateAroundMacaron 10s linear infinite;
  }