.header-container {
    background: linear-gradient(to bottom, #ff99cc, #ffc6cc);
    text-align: center;
    padding: 2rem 1rem;
    border-bottom: 2px solid #ff69b4;
    border-radius: 0.375rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-title {
    font-size: 3rem; 
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    color: #ff1493;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    margin-bottom: 0.5rem;
}


.header-subtitle {
    font-size: 1.5rem;
    color: #333;
    margin-top: 0;
    font-weight: 500;
}